/**
 
 @Name: font
 @Author: 杨向东
 
 */

@CHARSET "UTF-8";

    #tier{
        width: 100%;
        height: 20px;
    }
    .tier{
        float: left;
        height: 100%;
       /*  width: 5%; */
        width: 50PX;
        /* border: 1px red solid; */
    }